body{
  background: #e9ecef;
  font-family: 'nanumsquare';
  text-align: center;
  font-size: 18px;
  overflow-x: hidden;
  height: 100%;
}

button{
  font-family: 'nanumsquare';
}

.header{
  display: flex;
  text-align: left;
  background-color: black;
  color: white;
  padding: 20px;
}

.headerButton{
  font-size: 1em;
  background: none;
  color: white;
  cursor: pointer;
}

.headerLogin {
  font-size: 1em;
  background: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.footer{
  height: 20px;
  position: relative;
  bottom: 0px;
  margin-top: 5% ;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.chartbtn{
  min-width: 30%;
  font-size: 1rem;
  cursor: pointer;
  background: #e9ecef;
  border-radius: 12px;
}

.search{
  width: 50%;
  height: 30px;
  margin: 1%;
}

.container{
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
  height: auto;
  min-height: 100%;
  padding-bottom: 20px;
  position: relative;
}

.loginId{
  position: absolute;
  right: 30px;
}

.items{
  padding: 10px;
  border: 2px solid black;
  width: 20%;
  height: 300px;
  margin-top: 50px;
}

.loginDiv{
  padding: 30px;
  height: auto;
  min-height: 100%;
  padding-bottom: 20px;
  position: relative;
}

.inputLogin{
  width: 20%;
  text-align: center;
  font-size: 1em;
}

.loginBtn{

  width: 20%;
}

.infoTable{
  font-size: 2em;
  border: 2px solid black;
}

.poleMap{
  display: flex;
  justify-content: center;
}

td,th{
  border: 2px solid black;
}