body{
  background: #e9ecef;
  font-family: 'nanumsquare';
  text-align: center;
  font-size: 18px;
}
button{
  font-family: 'nanumsquare';
}

table{
  font-size: 1.5em;
  border: 2px solid black;
  width: 60%;
  margin: 20px 20% 20px; 
  border-collapse: collapse;
}

th,td{
  border: 2px solid black;
}

.chartbtn{
  width: 30%;
  font-size: 1em;
  background: #e9ecef;
  border-radius: 12px;
}

.header{
  display: flex;
  text-align: left;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.headerLogin {
  font-size: 1em;
  background: none;
  color: white;
  position: absolute;
  right: 20px;
}

.footer{
  margin-top: 5% ;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.search{
  width: 50%;
  height: 30px;
  margin: 1%;
}

.container{
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
}

.items{
  padding: 10px;
  border: 2px solid black;
  width: 20%;
  height: 300px;
  margin-top: 50px;
}