body{
  background: #e9ecef;
  font-family: 'nanumsquare';
  text-align: center;
}

table{
  border: 2px solid black;
  width: 60%;
  margin: 20px 20% 20px; 
  border-collapse: collapse;
}

th,td{
  border: 2px solid black;
}

.chartbtn{
  width: 10%;
}

.header{
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}

.search{
  width: 50%;
  height: 30px;
  margin: 1%;
}