body{
  background: #e9ecef;
  font-family: 'nanumsquare';
  text-align: center;
  font-size: 18px;
  overflow-x: hidden;
}

.modalBackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(200,200,200);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer {
    overflow: scroll;
    width: 60%;
    height: 90%;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

.modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
  }

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }

.modalContainer .body {
    width: 100vw;
    max-width: 60vw;
  }

.todoList{
  border: 2px solid black;
  padding: 10px;
}