body{
  background: #e9ecef;
  font-family: 'nanumsquare';
  text-align: center;
}

table{
  border: 2px solid black;
  padding: 16px;
  width: 60%;
  margin: 20px 20% 20px;
}

.header{
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}